<html>
  <head>
    <title>Volunteers</title>
  </head>
  <body>
    <h1>Volunteers</h1>

    {% if volunteers == [] %}
    	<p>No volunteers at the moment.</p>
    {% else %}
			<table>
				<tr>
					<th></th>
					<th>Name</th>
					<th></th>
					<th>Age</th>
				</tr>
				{% for (name, age) in volunteers %}
					<tr>
						<td>{{ loop.index }}.</td>
						<td>{{ name }}</td>
						<td>-</td>
						<td>{{ age }} {% if loop.last %}.{% else %},{% endif %}</td>
					</tr>
				{% endfor %}
			</table>
		{% endif %}
  </body>
</html>
