<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta http-equiv="refresh" content="5">
    <link rel="stylesheet" href="/static/css/style.css" />
    <title>Document</title>
  </head>
  <body>
    <header>
      <h1>{{ timeDay[1] }}, {{ timeDay[0] }}</h1>
    </header>

    <main>
      <div class="current-sample">
        <div class="card-info">
          <h3>Temperature</h3>
          {{ temperature }}
        </div>
        <div class="card-info">
          <h3>Humidity</h3>
          {{ humidity }}
        </div>
        <div class="card-info">
          <h3>Light level</h3>
          {{ light_level }}
        </div>
      </div>

      <div class="average-samples">
        <h3>Average sample Data</h3>
        <table>
          <tr class="table-head">
            <th></th>
            <th>Temperature</th>
            <th>Humidity</th>
            <th>Light level</th>
          </tr>
          <tr>
            <td class="table-start">Average</td>
            <td>{{ average_temperature }}</td>
            <td>{{ average_humidity }}</td>
            <td>{{ average_light_level }}</td>
          </tr>
          <tr>
            <td class="table-start">Maximum</td>
            <td>{{ max_temperature }}</td>
            <td>{{ max_humidity }}</td>
            <td>{{ max_light_level }}</td>
          </tr>
          <tr>
            <td class="table-start">Minimum</td>
            <td>{{ min_temperature }}</td>
            <td>{{ min_humidity }}</td>
            <td>{{ min_light_level }}</td>
          </tr>
        </table>
      </div>
    </main>

    <footer>

    </footer>
  </body>
</html>
